.card-heading{
    margin-bottom: 3.2rem;
}

.card-content{
    padding: 3.2rem 1.2rem;
}

.rating{
    padding: 0.3rem 1.8rem;
    color: #000;
    margin-left: 1.2rem; 
    border-radius: 100rem;
    -webkit-border-radius: 100rem;
    -moz-border-radius: 100rem;
    -ms-border-radius: 100rem;
    -o-border-radius: 100rem;
}
.super_hit{
    background-color: #7dc3a0;
}
.average{
    background-color: #f7dc6f;
}
